@import "tailwindcss";

@theme {
  --color-primary: #1C3A2E;
  --color-accent: #C8E63C;
  
  --color-bg-light: #F0EDE6;
  --color-bg-white: #FFFFFF;
  --color-bg-dark: #1C3A2E;
  
  --color-text-primary: #0F2318;
  --color-text-secondary: #4A6358;
  --color-text-inverse: #FFFFFF;
  
  --font-display: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
}

:root {
  --color-primary: #1C3A2E;
  --color-accent: #C8E63C;
  
  --color-bg-light: #F0EDE6;
  --color-bg-white: #FFFFFF;
  --color-bg-dark: #1C3A2E;
  
  --color-text-primary: #0F2318;
  --color-text-secondary: #4A6358;
  --color-text-inverse: #FFFFFF;
  
  --font-display: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-light);
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.font-display {
  font-family: var(--font-display);
}
